# Marketing Project

## Explanations:

## Code details:

## Libraries

In [1]:
import pandas as pd

## 0. Data Preprocess

In [322]:
# Load the dataset from the uploaded file
file_path = './Survey_Results_fixed.csv'
survey_data = pd.read_csv(file_path)

In [98]:
# Display the first few rows and general info about the dataset
survey_data.head(), 
survey_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         71 non-null     object
 1   Unnamed: 1         71 non-null     object
 2   Project Questions  72 non-null     object
 3   Unnamed: 3         11 non-null     object
 4   Unnamed: 4         5 non-null      object
 5   Unnamed: 5         43 non-null     object
 6   Unnamed: 6         10 non-null     object
 7   Unnamed: 7         17 non-null     object
 8   Unnamed: 8         72 non-null     object
 9   Unnamed: 9         72 non-null     object
 10  Unnamed: 10        72 non-null     object
 11  Unnamed: 11        72 non-null     object
 12  Unnamed: 12        72 non-null     object
 13  Unnamed: 13        72 non-null     object
 14  Unnamed: 14        72 non-null     object
 15  Unnamed: 15        72 non-null     object
 16  Unnamed: 16        72 non-null     object
 17  Unnamed: 17        71 non-null     object
 18  Unnamed: 18        72 non-null     object
 19  Unnamed: 19        72 non-null     object
 20  Unnamed: 20        72 non-null     object
 21  Unnamed: 21        72 non-null     object
 22  Unnamed: 22        72 non-null     object
 23  Unnamed: 23        72 non-null     object
 24  Unnamed: 24        72 non-null     object
 25  Unnamed: 25        72 non-null     object
 26  Unnamed: 26        72 non-null     object
 27  Unnamed: 27        72 non-null     object
 28  Unnamed: 28        72 non-null     object
 29  Unnamed: 29        72 non-null     object
 30  Unnamed: 30        72 non-null     object
 31  Unnamed: 31        72 non-null     object
 32  Unnamed: 32        72 non-null     object
 33  Unnamed: 33        72 non-null     object
 34  Unnamed: 34        72 non-null     object
 35  Unnamed: 35        72 non-null     object
 36  Unnamed: 36        72 non-null     object
 37  Unnamed: 37        72 non-null     object
dtypes: object(38)
memory usage: 21.5+ KB

In [323]:
# Extract the first row as column headers
columns = survey_data.iloc[0]
survey_data_cleaned = survey_data[1:]  # Remove the first row from the data

# Assign new column names
survey_data_cleaned.columns = columns

# Reset index for better organization
survey_data_cleaned.reset_index(drop=True, inplace=True)

# Display the cleaned column names for user verification
survey_data_cleaned.columns.tolist()

['Sr.No.',
 'Response No',
 '1.Have you ever participated in an outdoor or adventure event (e.g., surfing, hiking, horseback riding, skiing)?',
 '2.Which of the events have you ever attended?',
 nan,
 nan,
 nan,
 nan,
 '3.How many times per year do you typically attend such events?',
 '4.What is your main motivation for attending these events?',
 '5.How important is the event’s overall cost to you?',
 '6.How important is the environment’s visual and thematic appeal to you?',
 '7.How important is a scenic, easily accessible location when choosing an event?',
 '8.How important are additional amenities (e.g., food, music, freebies) to your enjoyment?',
 '9.How important is having a range of different activities within the same event?',
 '15.€20',
 '16.€30',
 '17.€40',
 '18.€50',
 '19.€60',
 '10.€75',
 '11.€100',
 '12.€125',
 '13.€150',
 '14.€175',
 '20.I’m willing to pay more if the visuals and the atmosphere of the event is particularly outstanding.',
 '21.I would pay more if the location is especially convenient or attractive.',
 '22.High-quality amenities (food, music, etc.) leads to accepting higher prices for me.',
 '23.I value a wide variety of activities enough to pay more.',
 '24.I’d rather have one excellent, well-managed activity with great atmosphere, than multiple average ones.',
 '25.I prefer a basic location if it offers great amenities (e.g., quality food, music).',
 '26.If all these factors (Price, Visual Appeal, Location, Amenities, Variety of Activites) are ideal, I am willing to pay a higher price.',
 '27.Which single factor most often influences your decision to attend an event?',
 '28.Which of these statements best describes your attitude towards paying for events?',
 '29.I often decide whether to attend an event based on friends’ or social media recommendations.',
 '30.If you found an event that matched all your preferences, how likely would you recommend it to others?',
 '31.Gender',
 '32.Age']

In [324]:
# Drop the first row & 2 columns
survey_data_cleaned.drop(0, axis=0, inplace=True)
survey_data_cleaned = survey_data_cleaned.drop(columns=['Sr.No.','Response No'])
# Fixing column names
survey_data_cleaned.columns.values[0] = '1. Participated'
survey_data_cleaned.columns.values[1] = '2. Events'
survey_data_cleaned.columns.values[6] = '3. Frequency'
survey_data_cleaned.columns.values[7] = '4. Motivation'
survey_data_cleaned.columns.values[8] = '5. Cost importance'
survey_data_cleaned.columns.values[9] = '6. Appeals importance'
survey_data_cleaned.columns.values[10] = '7. Accessibility importance'
survey_data_cleaned.columns.values[11] = '8. Amenities importance'
survey_data_cleaned.columns.values[12] = '9. Activities importance'
survey_data_cleaned.columns.values[23] = '10. Extra atmosphere'
survey_data_cleaned.columns.values[24] = '11. Extra location'
survey_data_cleaned.columns.values[25] = '12. Extra amenities'
survey_data_cleaned.columns.values[26] = '13. Extra activities'
survey_data_cleaned.columns.values[27] = '14. Excellent activitie'
survey_data_cleaned.columns.values[28] = '15. Excellent amenities'
survey_data_cleaned.columns.values[29] = '16. Excellent everything'
survey_data_cleaned.columns.values[30] = '17. Single factor'
survey_data_cleaned.columns.values[31] = '18. Attitude towards paying'
survey_data_cleaned.columns.values[32] = '19. decide on friends’ or social media recom'
survey_data_cleaned.columns.values[33] = '20. Your recommendation'
survey_data_cleaned.columns.values[34] = '21. Gender'
survey_data_cleaned.columns.values[35] = '22. Age'
survey_data_cleaned.columns.tolist()

C:\Users\Sarja\AppData\Local\Temp\ipykernel_35224\2888028280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_data_cleaned.drop(0, axis=0, inplace=True)

['1. Participated',
 '2. Events',
 nan,
 nan,
 nan,
 nan,
 '3. Frequency',
 '4. Motivation',
 '5. Cost importance',
 '6. Appeals importance',
 '7. Accessibility importance',
 '8. Amenities importance',
 '9. Activities importance',
 '15.€20',
 '16.€30',
 '17.€40',
 '18.€50',
 '19.€60',
 '10.€75',
 '11.€100',
 '12.€125',
 '13.€150',
 '14.€175',
 '10. Extra atmosphere',
 '11. Extra location',
 '12. Extra amenities',
 '13. Extra activities',
 '14. Excellent activitie',
 '15. Excellent amenities',
 '16. Excellent everything',
 '17. Single factor',
 '18. Attitude towards paying',
 '19. decide on friends’ or social media recom',
 '20. Your recommendation',
 '21. Gender',
 '22. Age']

In [325]:
survey_data_cleaned.loc[::,'2. Events':survey_data_cleaned.columns.values[5]:1]

0          2. Events  NaN     NaN     NaN                NaN
1                NaN  NaN     NaN  Skiing                NaN
2                NaN  NaN     NaN     NaN  None of the above
3                NaN  NaN  Hiking     NaN                NaN
4   Horseback Riding  NaN     NaN     NaN                NaN
5                NaN  NaN  Hiking     NaN                NaN
..               ...  ...     ...     ...                ...
66               NaN  NaN  Hiking     NaN                NaN
67               NaN  NaN     NaN     NaN  None of the above
68               NaN  NaN     NaN     NaN  None of the above
69  Horseback Riding  NaN     NaN     NaN                NaN
70               NaN  NaN     NaN  Skiing                NaN

[70 rows x 5 columns]

### Done already

In [326]:
#Q1 --------------------
# Convert the first question to binary (assuming "Yes" -> 1, "No" -> 0)
survey_data_cleaned['1. Participated'] = survey_data_cleaned['1. Participated'].apply(lambda x: 1 if x == 'Yes' else 0)


#Q2 ----------------------
change_list = ['2. Events', 'Surfing', 'Hiking', 'Skiing', 'None of the above']
# fixing column names of Q2 and the NaN values
survey_data_cleaned.columns.values[1:6] = change_list

# Function to consolidate values from all columns into one
def consolidate_events(row):
    # Drop NaN values and join the remaining words into a single string
    events = row[change_list].dropna().tolist()
    
    # If no valid events, add 'None of the above'
    if not events:
        events.append('None of the above')
    
    # Join the list into a string
    return ', '.join(events)

# Apply the function across all rows
survey_data_cleaned['2. Events'] = survey_data_cleaned.loc[::,'2. Events':survey_data_cleaned.columns.values[5]:1].apply(consolidate_events, axis=1)
survey_data_cleaned.drop(columns=['Surfing', 'Hiking', 'Skiing', 'None of the above'], inplace=True)

#Q3 ----------------------
def map_frequency(value):
    if value == '0 times':
        return 0
    elif value == '1-2 times':
        return 1  # Midpoint of the range
    elif value == '3-5 times':
        return 2  # Midpoint of the range
    elif value == '6+ times':
        return 3  # Or any number representing '6+'
    return 0  # In case there are unexpected values

# Apply the mapping function to the 'Frequency' column
survey_data_cleaned['3. Frequency'] = survey_data_cleaned['3. Frequency'].apply(map_frequency)

#Q4 ----------------------
survey_data_cleaned = pd.get_dummies(survey_data_cleaned, columns=['4. Motivation'])

#Q10-19 ---------------------
# Step 1: Identify columns matching the pattern `number.€price`
import re

def is_price_column(col_name):
    # Check if the column matches the pattern `number.€price`
    return bool(re.match(r'^\d+\.\€\d+$', col_name))

# Filter the columns that are price-related
price_columns = [col for col in survey_data_cleaned.columns if is_price_column(col)]
# Step 2: Extract the numeric price from column names
price_mapping = {col: float(col.split('.')[1].strip('€')) for col in price_columns}

# Rename only the price columns
survey_data_cleaned.rename(columns=price_mapping, inplace=True)
# Step 3: Create a function to get min and max prices where response is "Yes, I would buy." or "Yes, I would buy"
def get_min_max_prices(row):
    # Extract prices where the response is "Yes, I would buy." OR "Yes, I would buy"
    yes_prices = [
        price for price in price_mapping.values() 
        if row.get(price) in ["Yes, I would buy.", "Yes, I would buy"]
    ]
    if yes_prices:
        return pd.Series([min(yes_prices), max(yes_prices)])
    return pd.Series([None, None])
# Step 4: Apply the function to the DataFrame
survey_data_cleaned[['min_price', 'max_price']] = survey_data_cleaned.apply(get_min_max_prices, axis=1)
survey_data_cleaned.drop(columns=[75.0, 100.0, 125.0, 150.0, 175.0, 20.0, 30.0, 40.0, 50.0, 60.0], inplace=True)

#Q17 ----------------------
survey_data_cleaned = pd.get_dummies(survey_data_cleaned, columns=['17. Single factor'])

#Q18 ---------------------
def map_frequency_q18(value):
    if value == 'Cost-Focused: I tend to choose the cheapest options':
        return 1
    elif value == 'Spontaneous: It varies; I decide case by case':
        return 2  # Midpoint of the range
    elif value == 'Balanced: I pay more only if it truly seems worth it':
        return 3  # Midpoint of the range
    elif value == "Experience-Focused: I’m happy to pay more for a unique experience":
        return 4  # Or any number representing '6+'
    return 0  # In case there are unexpected values

# Apply the mapping function to the 'Frequency' column
survey_data_cleaned['18. Attitude towards paying'] = survey_data_cleaned['18. Attitude towards paying'].apply(map_frequency_q18)

### Todo

In [327]:
survey_data_cleaned.columns

Index(['1. Participated', '2. Events', '3. Frequency', '5. Cost importance',
       '6. Appeals importance', '7. Accessibility importance',
       '8. Amenities importance', '9. Activities importance',
       '10. Extra atmosphere', '11. Extra location', '12. Extra amenities',
       '13. Extra activities', '14. Excellent activitie',
       '15. Excellent amenities', '16. Excellent everything',
       '18. Attitude towards paying',
       '19. decide on friends’ or social media recom',
       '20. Your recommendation', '21. Gender', '22. Age',
       '4. Motivation_Adventure and excitement',
       '4. Motivation_Learning new skills or gaining knowledge',
       '4. Motivation_Other (please only choose if fits best)',
       '4. Motivation_Relaxation and escaping routine',
       '4. Motivation_Socializing and meeting new people', 'min_price',
       'max_price', '17. Single factor_Broad choice of activities',
       '17. Single factor_Convenient or appealing location',
       '17. Single factor_High-quality amenities',
       '17. Single factor_Lowest price', '17. Single factor_Others',
       '17. Single factor_Outstanding visual and Appealing atmosphere'],
      dtype='object')

In [328]:

#Q5 ----------------------
#Q6 ----------------------
#Q7 ----------------------
#Q8 ----------------------
#Q9 ----------------------

#Q20 ---------------------
#Q21 ---------------------
#Q22 ---------------------

# Show the updated DataFrame
survey_data_cleaned.head()

,1. Participated,2. Events,3. Frequency,5. Cost importance,6. Appeals importance,7. Accessibility importance,8. Amenities importance,9. Activities importance,10. Extra atmosphere,11. Extra location,...,4. Motivation_Relaxation and escaping routine,4. Motivation_Socializing and meeting new people,min_price,max_price,17. Single factor_Broad choice of activities,17. Single factor_Convenient or appealing location,17. Single factor_High-quality amenities,17. Single factor_Lowest price,17. Single factor_Others,17. Single factor_Outstanding visual and Appealing atmosphere
1,1,Skiing,1,6,6,7,7,6,7,7,...,False,False,20.0,175.0,False,False,False,False,False,True
2,1,None of the above,2,5,3,6,5,4,7,1,...,False,False,20.0,100.0,True,False,False,False,False,False
3,1,Hiking,1,4,6,5,6,4,5,6,...,False,False,20.0,100.0,True,False,False,False,False,False
4,1,Horseback Riding,1,4,6,6,6,6,5,6,...,False,False,20.0,100.0,True,False,False,False,False,False
5,1,Hiking,2,5,6,4,3,5,4,5,...,False,False,20.0,20.0,False,False,False,True,False,False

In [196]:
# one hot encoding
unique_q17 = survey_data_cleaned['17. Single factor'].unique()
unique_q17

array(['Outstanding visual and Appealing atmosphere',
       'Broad choice of activities', 'Lowest price',
       'High-quality amenities', 'Convenient or appealing location',
       'Others'], dtype=object)

## 1. Behavioral customer segmentation

## 2. Pricing Analysis

## 3. Needs-based segmentation

## 4. Positioning